@media (max-width: 991px) {
    .mobile-layout { padding-left: 0 !important; }
    .margin_top_85 { margin-top: 20px !important; }
    #navbar-main { padding-left: 0 !important; }
}

.margin_top_85 { margin-top: 85px; }