<div class="w-100 justify-content-between align-items-center title-box">
      <!-- <h4 class="text-white font-weight-bold mb-0">Attribute Details</h4> -->
</div>
<div class="container-fluid">
<ul class="nav nav-tabs nav_tab_btn">
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/attributes/view/{{attributeId}}/info">view</a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/admin/attributes/view/{{attributeId}}/values">Values</a>
    </li>
</ul>
</div>
<div class="tab-content">
    <router-outlet></router-outlet>
</div>
<div class="text-center mt-3">
    <a routerLink="/admin/attributes"  [replaceUrl]="true"   routerLinkActive="active" class="btn bg_secondary">Back</a>
</div>
